<!DOCTYPE html>
<html>
<head>
    <title>Strona główna</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <a href="/">Strona główna</a>
    <a href="/tenders">Lista przetargów</a>
    <a href="/tenders/closed">Lista zakończonych przetargów</a>
    <a href="/tenders/add">Dodaj przetarg</a>
</nav>
<div class="home-content">
    <h1>Witamy w systemie przetargów</h1>
    <p>
        Nasz system umożliwia instytucjom ogłaszanie przetargów oraz pozwala osobom prywatnym i firmom na składanie ofert.
        Dzięki przejrzystemu interfejsowi, możesz łatwo zarządzać przetargami, przeglądać szczegóły ofert i monitorować
        status swoich zgłoszeń. Dołącz do nas już dziś i odkryj, jak prosto i wygodnie można zarządzać przetargami online.
        Nasz system został zaprojektowany z myślą o efektywności i łatwości użytkowania, aby każda transakcja przebiegała
        sprawnie i bezproblemowo.
    </p>
</div>
</body>
</html>
